html {
	position: relative;
	min-height: 100%;
}

body {
	min-height: 100%;
}

.vertical-center {
	width: -webkit-fit-content;
	width: fit-content;
	margin: auto;
}

.vertical-center#not-logged form {
	width: -moz-fit-content;
	margin: auto;
}

.vertical-center#not-logged table {
	width: -moz-fit-content;
	margin: auto;
}

.vertical-center table {
	margin-top: 3em !important;
}

.horizontal-center {
	margin: 0 auto;
}

.form-control {
	color: #0088aa;
	font-weight: bold;
}

.form-control:focus {
	border-color: #0088aa;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 136, 170, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 136, 170, 0.6);
}

input.btn {
	font-weight: bold;
}

.btn {
	font-weight: bold !important;
}

.btn-success {
	background-color: #06d362 !important;
	border-color: #06d362;
}

.btn-success:hover {
	background-color: #1abd61 !important;
	border-color: #1abd61;
}

.btn-info {
	background-color: #0088aa !important;
	border-color: #0088aa;
}

.btn-info:hover {
	background-color: #00708c !important;
	border-color: #00708c;
}

.btn-warning {
	background-color: #ffcc00 !important;
	border-color: #ffcc00;
	color: #4d4d4d;
}

.btn-warning:hover {
	background-color: #eabb3a !important;
	border-color: #eabb3a;
	color: #4d4d4d;
}

.btn-warning:active {
	color: #4d4d4d;
}

.btn-warning:focus {
	color: #4d4d4d;
}

.btn-warning:active:focus {
	color: #4d4d4d;
}

#join {
	padding-top: 40px;
}

#not-logged {
	padding-top: 40px;
}

#join-dialog h1 {
	color: #4d4d4d;
	font-weight: bold;
	text-align: center;
}

#join-dialog label {
	color: #0088aa;
}

#join-dialog input.btn {
	margin-top: 15px;
}

#join-dialog hr {
	background: #4d4d4d;
}

#img-div {
	text-align: center;
	padding-bottom: 3em;
}

#img-div img {
	height: 15%;
}

#logged {
	width: 100%;
}

#join {
	max-width: 700px;
	margin: auto;
	margin-top: 100px;
}

#session-header {
	margin-bottom: 20px;
	height: 8%;
	margin-top: 70px;
}

#session-header form {
	display: inline-block;
}

#session-header input.btn {
	float: right;
	margin-top: 20px;
	margin-left: 5px;
}

#session-title {
	display: inline-block;
}

#session-header .form-control {
	width: initial;
	float: right;
	margin: 18px 0px 0px 5px;
}

/* 호근 수정 시작 */

#video-grid {
  display: grid;
  width: 100%;
  gap: 10px;
}

#video-focus-container {
  display: grid;
  gap: 10px;
  width: 100%;
  max-height: 70vh;
  margin: 0 auto;
}

#video-focus-container video {
  height: 70vh;
}

#video-container {
  display: grid;
	width: 100%;
  gap: 10px;
}

#video-container.horizontal-scroll {
  display: flex;
  height: 30vh;
  overflow-x: auto;
  overflow-y: hidden;
}

#video-container.horizontal-scroll video {
  height: 30vh;
}

video {
  aspect-ratio: 4 / 3;
  width: 100%;
}

/* 호근 수정 끝 */

/* #video-container {
	width: 100%;
	max-height: 42%;
	display: block;
	overflow: hidden;
} */

#video-container div {
	position: absolute;
	display: inline-flex;
	margin-left: calc(-50% + 15px);
}

#video-container p {
	display: inline-block;
	background: #f8f8f8;
	padding-left: 5px;
	padding-right: 5px;
	color: #777777;
	font-weight: bold;
	border-bottom-right-radius: 4px;
}

#video-container p.userName {
	float: right;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 0px;
	font-weight: lighter;
	font-size: 12px;
	background: #777777;
	color: #f8f8f8;
}

/* video {
	width: auto;
    height: auto;
    max-height: 100%;
    object-fit: scale-down;
} */

#session {
	height: 100%;
	padding-bottom: 80px;
}

#session img {
	width: 100%;
	height: auto;
	display: inline-block;
	object-fit: contain;
	vertical-align: baseline;
}

#session #video-container img {
	position: relative;
	float: left;
	width: 50%;
	cursor: pointer;
	object-fit: cover;
	height: 180px;
}

table i {
	cursor: pointer;
	margin-left: 1em;
}

#tooltip-div {
	text-align: left;
}

#tooltip-div hr {
	margin: 5px 0;
}

#login-info {
	text-align: right;
}

#login-info form {
	display: inline;
}

#login-info div {
	display: inline;
	margin-right: 1em;
}

#name-user {
	font-weight: bold;
}

#recording-btns {
	display: inline-block;
    padding-left: 15px;
    padding-top: 20px;
    width: 100%;
    height: 40%;
}

#recording-btns .btns {
	margin-top: 10px;
}

#recording-btns .btns .form-control {
	width: initial;
	display: inline;
}

#recording-btns .btns form {
	display: inline;
	margin-left: 5px;
}

#recording-btns textarea {
	height: 100%;
}

.textarea-container {
	position: relative;
	display: inline-block;
	height: 74%;
	margin-top: 20px;
	resize: none;
}

#textarea-http-container {
	width: 69%;
}

#textarea-events-container {
	width: 29%;
}

.textarea-container button {
	position: absolute;
	top: 1px;
	right: 1px;
	z-index: 1;
}

.textarea-container span {
	position: absolute;
	bottom: 1px;
	right: 1px;
	padding: 3px;
	border-bottom-right-radius: 4px;
	z-index: 1;
	color: #a5a5a5;
	background-color: #ededee;
	font-weight: 600;
}

.textarea-container textarea {
	height: 100%;
	resize: none;
}

.vertical-separator-bottom {
	width: 2px;
	height: 34px;
	display: inline-block;
	background-color: #cbcbcb;
	margin: 0 8px 0 8px;
	margin-bottom: -12px;
}

.vertical-separator-top {
	width: 2px;
	height: 30px;
	background-color: #cbcbcb;
	margin: 20px 8px 0 15px;
	float: right;
}

/* xs ans md screen resolutions*/

@media screen and (max-width: 991px) {
	#join {
		padding-top: inherit;
	}

	#not-logged {
		padding-top: inherit;
	}

	.vertical-center {
		padding-top: 10px;
	}

	#img-div {
		padding-bottom: 1em;
	}

	#img-div img {
		height: 10%;
	}
}




/* header */

/* Style the top navigation bar */
.header {
  overflow: hidden;
  background-color: #ffffff;
}

/* Style the header links */
.header a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#participants {
	float: right;
}

/* Change color on hover */
.header a:hover {
  background-color: #ddd;
  color: black;
}




/* settings */
.settings {
  width:100%;
  height:60px;
  position:absolute;
  bottom:0;
  background:#ffffff;
 text-align: center;
 color: black;
}
